.mian_sec1_coach {
    height: 80vh;
    background: url("../../../../assets/infopage_images/Coach_sec1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 35px;
    border-radius: 15px;
}

.sub_main_div_of_sec1_player {
    width: 70%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.sub_main_div_of_sec1_player > h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    font-style: normal;
    font-family: "SF Pro Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sub_main_div_of_sec1_player > h1 > span {
    color: #ff3333;
}
.sub_main_div_of_sec1_player > p {
    color: white;
    font-size: 26px;
    text-align: center;
    font-style: normal;
    font-family: "SF Pro Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.btn_sec1 {
    background-color: #ff3333;
    padding: 10px 30px;
    color: #fff;
    border-radius: 30px;
    outline: none;
    font-style: normal;
    font-family: "SF Pro Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media screen and (max-width: 768px) {
    .sub_main_div_of_sec1_player > h1 {
        font-size: 25px;
    }
    .sub_main_div_of_sec1_player > p {
        font-size: 18px;
    }
    .mian_sec1_coach {
        
        background-size:cover;
        height: 500px;
        
    }
    
    
}
