@import url("https://fonts.googleapis.com/css2?family=Abel&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Fonts */
@font-face {
    font-family: "SF Pro Display";
    src: url("/fonts/SFProDisplay-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("/fonts/SFProDisplay-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("/fonts/SFProDisplay-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

.main_player_info_div {
    width: 100%;
    height: max-content;
    background-color: #fff;
}
.main_heding_div_of_PI {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.main_heding_div_of_PI > p {
    color: #ed2023;
    font-size: 16px;
    padding-bottom: 22px;
    line-height: 24px;
    font-weight: 400;
}
.Switch_btn_div_main {
    width: 100%;
    height: 80px;
    background-color: #ff3333;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5rem;
}
.Switch_btn_div_sub1 {
    width: 30%;
    height: 100%;
    background-color: aliceblue;
}
.Switch_btn_div_sub {
    width: 30%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.player_btn > button {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    padding: 12px;
    font-family: "SF Pro Display";
}
.signup_btn_div {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
}
.signup_btn_div > button {
    border: 1px solid #fff;
    padding: 9px 30px;
    color: #fff;
    border-radius: 30px;
    outline: none;
    font-family: "Abel";
}

.testing_div {
    width: 100%;
}
.div1 {
    width: 100%;
    height: 100%;
    background-color: #ff3333;
}
.div2 {
    width: 100%;
    height: 100%;
    background-color: blue;
}

@media screen and (max-width: 768px) {
    .player_btn > button {
        padding-top: 24px;
    }
    .main_heding_div_of_PI > p {
        color: #ff3333;
        font-size: 14px;
        max-width: 311px;
        text-align: center;
        font-weight: 400;
        padding: 8px;
    }
    .Switch_btn_div_main {
        flex-direction: column;
        height: 100%;
        gap: 20px;
        padding-bottom: 25px;
    }
    .Switch_btn_div_sub {
        width: 100%;
    }
    .signup_btn_div {
        width: 100%;
        justify-content: center;
        margin: 0;
    }
    .signup_btn_div > button {
        font-family: "SF Pro Display";
    }
}
