.play-icon {
    border-radius: 50px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(229, 229, 229, 0.5) 100%
    );
    backdrop-filter: blur(17px);
}
.video_dot_style {
    background-color: red;
    display: flex;
}
.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.the-player {
    position: absolute;
    top: 0;
    left: 0;
}
.subpopup {
    border: 3px solid red;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;

    margin-right: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.popup-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
}
.svg_icone_ {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}
.popup-item > p {
    font-size: 15px;
    font-weight: 600;
}

.popup-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    cursor: pointer;
}

.popup-item {
    background-color: #f0f0f0;
    border-radius: 8px;
}

.popup-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
#player {
    height: 250px !important;
}

/* @media(min-width:1200px){
  .videos-wrapper{
    grid-template-columns: repeat(4, 313px);
  }
} */
.aspect-ratio-16-9 {
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.aspect-ratio-16-9 iframe {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}
.jwplayer.jw-flag-aspect-mode {
    height: 100% !important;
}
