.main_sec10_div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem;
}
.sub_main_sec10_div {
  width: 80%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem 0;
}
.heading_sec10_div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading_sec10_div > h2 {
  color: #0e0e0e;
  font-size: 26px;
  text-align: center;
  font-style: normal;
  font-family: "SF Pro Display";
  font-weight: 400;
  font-style: normal;
}
.heading_sec10_div > h2 > span {
  color: #ff3333;
}

.heading_sec10_div > p {
  color: #0e0e0e;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  font-family: "SF Pro Display";
  font-weight: 400;
  font-style: normal;
}
.box_div_ofsec10 {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.sec10_card {
  width: 33.33%;
  height: 100%;
  background-color: #f9fafb;
  border-radius: 10px;
  box-shadow: rgba(60, 60, 60, 0.35) 0px 0px 5px;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.sec10_card > h2 {
  color: #0e0e0e;
  font-size: 24px;
  font-style: normal;
  font-family: "SF Pro Display";
  font-weight: 400;
  font-style: normal;
}
.sec10_card > p {
  color: #0e0e0e;
  font-size: 16px;
  font-style: normal;
  font-family: "SF Pro Display";
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .box_div_ofsec10 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }
  .heading_sec10_div > h2 {
    font-size: 20px;
  }
  .heading_sec10_div > p {
    font-size: 14px;
  }
  .sec10_card {
    width: 100%;
    height: 200px;
  }
  .sec10_card > h2 {
    font-size: 20px;
  }
  .sec10_card > p {
    font-size: 14px;
  }
}
